<configuration>
  <packageSources>
    <!-- package source is additive -->
    <add key="LocalBuildTasks" value="../tools-devkit-build/src/Dataverse/Tasks/bin/Release/" />
    <add key="LocalBuildSolution" value="../tools-devkit-build/src/Dataverse/Solution/bin/Release/" />
    <add key="LocalBuildPlugin" value="../tools-devkit-build/src/Dataverse/Plugin/bin/Release/" />
    <add key="LocalBuildPcf" value="../tools-devkit-build/src/Dataverse/Pcf/bin/Release/" />
  </packageSources>
</configuration>